Year 02/Client-Server Architecture/ICT2Client/ICT2Client/src/META-INF/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ICT2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ICT2WebApplication/ICT2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSmallestInteger">
<part name="parameters" element="tns:getSmallestInteger"/>
</message>
<message name="getSmallestIntegerResponse">
<part name="parameters" element="tns:getSmallestIntegerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<message name="shortestString">
<part name="parameters" element="tns:shortestString"/>
</message>
<message name="shortestStringResponse">
<part name="parameters" element="tns:shortestStringResponse"/>
</message>
<message name="addIntegerOnServer">
<part name="parameters" element="tns:addIntegerOnServer"/>
</message>
<message name="addIntegerOnServerResponse">
<part name="parameters" element="tns:addIntegerOnServerResponse"/>
</message>
<message name="safeShortestString">
<part name="parameters" element="tns:safeShortestString"/>
</message>
<message name="safeShortestStringResponse">
<part name="parameters" element="tns:safeShortestStringResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getAllIntegerSamplesBelow">
<part name="parameters" element="tns:getAllIntegerSamplesBelow"/>
</message>
<message name="getAllIntegerSamplesBelowResponse">
<part name="parameters" element="tns:getAllIntegerSamplesBelowResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="getSmallestInteger">
<input wsam:Action="http://server/ICT2WebService/getSmallestIntegerRequest" message="tns:getSmallestInteger"/>
<output wsam:Action="http://server/ICT2WebService/getSmallestIntegerResponse" message="tns:getSmallestIntegerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/ICT2WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/ICT2WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://server/ICT2WebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://server/ICT2WebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
<operation name="shortestString">
<input wsam:Action="http://server/ICT2WebService/shortestStringRequest" message="tns:shortestString"/>
<output wsam:Action="http://server/ICT2WebService/shortestStringResponse" message="tns:shortestStringResponse"/>
</operation>
<operation name="addIntegerOnServer">
<input wsam:Action="http://server/ICT2WebService/addIntegerOnServerRequest" message="tns:addIntegerOnServer"/>
<output wsam:Action="http://server/ICT2WebService/addIntegerOnServerResponse" message="tns:addIntegerOnServerResponse"/>
</operation>
<operation name="safeShortestString">
<input wsam:Action="http://server/ICT2WebService/safeShortestStringRequest" message="tns:safeShortestString"/>
<output wsam:Action="http://server/ICT2WebService/safeShortestStringResponse" message="tns:safeShortestStringResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/safeShortestString/Fault/Exception"/>
</operation>
<operation name="getAllIntegerSamplesBelow">
<input wsam:Action="http://server/ICT2WebService/getAllIntegerSamplesBelowRequest" message="tns:getAllIntegerSamplesBelow"/>
<output wsam:Action="http://server/ICT2WebService/getAllIntegerSamplesBelowResponse" message="tns:getAllIntegerSamplesBelowResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSmallestInteger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shortestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addIntegerOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="safeShortestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllIntegerSamplesBelow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://localhost:8080/ICT2WebApplication/ICT2WebService"/>
</port>
</service>
</definitions>