Year 02/Client-Server Architecture/ICT2Client/ICT2Client/src/META-INF/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addIntegerOnServer" type="tns:addIntegerOnServer"/>

<xs:element name="addIntegerOnServerResponse" type="tns:addIntegerOnServerResponse"/>

<xs:element name="getAllIntegerSamplesBelow" type="tns:getAllIntegerSamplesBelow"/>

<xs:element name="getAllIntegerSamplesBelowResponse" type="tns:getAllIntegerSamplesBelowResponse"/>

<xs:element name="getSmallestInteger" type="tns:getSmallestInteger"/>

<xs:element name="getSmallestIntegerResponse" type="tns:getSmallestIntegerResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="safeShortestString" type="tns:safeShortestString"/>

<xs:element name="safeShortestStringResponse" type="tns:safeShortestStringResponse"/>

<xs:element name="shortestString" type="tns:shortestString"/>

<xs:element name="shortestStringResponse" type="tns:shortestStringResponse"/>

<xs:element name="testConnection" type="tns:testConnection"/>

<xs:element name="testConnectionResponse" type="tns:testConnectionResponse"/>

<xs:complexType name="getAllIntegerSamplesBelow">
<xs:sequence>
<xs:element name="integer" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllIntegerSamplesBelowResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testConnection">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testConnectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="safeShortestString">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="safeShortestStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSmallestInteger">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSmallestIntegerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addIntegerOnServer">
<xs:sequence>
<xs:element name="integer" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addIntegerOnServerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shortestString">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shortestStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>